 <spinner [channel]="channel" [fixed]="false" [type]="spinnerType">
 </spinner>
 <mat-dialog-title tabindex="0" class="dialog-title" cdkDrag
                   cdkDragRootElement=".mat-dialog-container" cdkDragHandle>
   <button class="d-flex close-button" mat-icon-button
           style="float: right;position: absolute;right:0" (click)="closeModal()"
           *ngIf="!blockClose">
     <mat-icon>close</mat-icon>
   </button>
   <h2 class="d-flex m-x-8">
     {{ data.options.titleKey | translate: data.options?.titleParams }}</h2>
 </mat-dialog-title>
 <div class="d-flex">{{ data.options.titleExtras | translate }}</div>
 <mat-divider></mat-divider>
 <mat-dialog-content class="light dialog-content ">
   <ng-template #target></ng-template>
 </mat-dialog-content>
 <mat-dialog-actions class="d-flex justify-content-end ">
   <ng-container *ngIf="!overrideFooterTemplate; else overrideFooterBlock">
     <button class="m-x-4" mat-raised-button color="warn" (click)="close()"
             type="button" *ngIf="data.options.declineLabelKey">
       {{ data.options.declineLabelKey | translate }}</button>
     <button class="m-x-4" mat-raised-button color="primary" (click)="action()"
             *ngIf="data.options.acceptLabelKey"
             type="submit">{{ data.options.acceptLabelKey | translate }}</button>
   </ng-container>
   <ng-template #overrideFooterBlock>
     <ng-container *ngTemplateOutlet="overrideFooterTemplate">
     </ng-container>
   </ng-template>
 </mat-dialog-actions>
