/* You can add global styles to this file, and also import other style files */
@use 'app/theme/style';
@use 'styles/themes';
@use 'styles/custom';
@use 'styles/grid';
@use 'styles/helpers';
@use 'styles/plugins';

/* @use 'app/shared/components/dialog/dialog.component';
 */

.mat-mdc-text-field-wrapper {
  height: unset !important;
}

.mat-mdc-dialog-content {
  .mdc-text-field--outlined.mdc-text-field--disabled .mdc-text-field__input {
    color: rgba(0, 0, 0, .90) !important;
    opacity: 1 !important;
  }

  .mdc-text-field--outlined.mdc-text-field--disabled .mat-mdc-select-value {
    color: rgba(0, 0, 0, .90) !important;
    opacity: 1 !important;
  }

  .mdc-text-field--outlined.mdc-text-field--disabled .mdc-floating-label {
    color: rgba(0, 0, 0, .90) !important;
  }

  .mdc-text-field--disabled {
    background-color: #e5e5e5 !important;
  }
}
