<form [formGroup]="form" class="form-field-full" [id]="formId" unsavedChanges>
  <div class="row">
    <div class="col-sm-12">
      <app-input-field controlName="memberName" label="Member"> </app-input-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <app-select-field controlName="department" [options$]="optionsDepartments$"
                        displayProperty="description" label="Department"></app-select-field>
    </div>

    <div class="col-sm-6">
      <app-select-field controlName="company" [options$]="optionsCompanies$"
                        displayProperty="description" label="Company"></app-select-field>
    </div>
  </div>
  <mat-form-field>
    <mat-label>Active</mat-label>
    <mat-select required formControlName="isActive" required>
      <mat-option [value]="null"></mat-option>
      <mat-option [value]="true">Yes</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
    <mat-error>
    </mat-error>
  </mat-form-field>

  <!--  <mat-form-field>
    <mat-label>Mobile</mat-label>
    <input matInput  type="number" formControlName="mobile"
           required>
    <mat-icon matSuffix>smartphone</mat-icon>
    <mat-error>
    </mat-error>
  </mat-form-field> -->

</form>
