    <form [formGroup]="form" class="form-field-full" [id]="formId" unsavedChanges>

      <div class="d-flex flex-wrap  align-content-stretch align-items-stretch align-self-stretch"
           style=" gap: 10px;">
        <mat-expansion-panel class="bg-gray-50 text-gray-900" [expanded]="true">
          <mat-expansion-panel-header class="bg-blue-200">
            <mat-panel-title>Contact Details</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container [formGroup]="contactForm">
            <app-voucher-send-to-details [optionsCountries$]="optionsCountries$">
            </app-voucher-send-to-details>
          </ng-container>
        </mat-expansion-panel>
        <mat-expansion-panel class="bg-gray-50 text-gray-900" [expanded]="true">
          <mat-expansion-panel-header class="bg-blue-200">
            <mat-panel-title>Voucher Details</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container [formGroup]="voucherDetailsForm">
            <app-voucher-details [optionsDeliverTo$]="optionsDeliverTo$"
                                 [optionsAction$]="optionsAction$"
                                 [optionsCarrier$]="optionsCarrier$"
                                 [optionsDepartment$]="optionsDepartment$"
                                 [optionsMember$]="optionsMember$"
                                 [optionsCompany$]="optionsCompany$"
                                 [optionsType$]="optionsType$"></app-voucher-details>
          </ng-container>
        </mat-expansion-panel>
        <mat-expansion-panel class="bg-gray-50 text-gray-900" [expanded]="true">
          <mat-expansion-panel-header class="bg-blue-200">
            <mat-panel-title>Special Details</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container [formGroup]="specialDetailsForm">
            <app-voucher-special-details
                                         [optionsDeliveryTimeType$]="optionsDeliveryTimeType$"
                                         [optionConditionType$]="optionConditionType$">
            </app-voucher-special-details>
          </ng-container>
        </mat-expansion-panel>
      </div>
    </form>
