    <form [formGroup]="form" class="form-field-full" [id]="formId" unsavedChanges>

      <div class="d-flex flex-wrap  align-content-stretch align-items-stretch align-self-stretch"
           style=" gap: 10px;">
        <mat-expansion-panel class="bg-gray-50 text-gray-900" [expanded]="true">
          <mat-expansion-panel-header class="bg-blue-200">
            <mat-panel-title>Contact Details</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container [formGroup]="contactForm">
            <div class="m-t-16">
              <div class="row">
                <div class="col-sm-12">
                  <app-input-field controlName="voucherName" label="Company Name">
                  </app-input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-input-field controlName="voucherContact" label="Contact"> </app-input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-input-field controlName="voucherAddress" label="Address"> </app-input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <app-input-field controlName="voucherCity" label="Voucher City">
                  </app-input-field>
                </div>
                <div class="col-sm-6">
                  <app-input-field controlName="voucherPostCode" label="Post Code">
                  </app-input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-select-field controlName="voucherCountry" [options$]="optionsCountries$"
                                    displayProperty="description" label="Country">
                  </app-select-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <app-input-field controlName="voucherPhoneNo" label="Phone"> </app-input-field>
                </div>
                <div class="col-sm-6">
                  <app-input-field controlName="voucherMobileNo" label="Mobile"> </app-input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-textarea-field controlName="contactNotes" label="Notes" [rows]="4">
                  </app-textarea-field>
                </div>
              </div>
            </div>
          </ng-container>
        </mat-expansion-panel>
        <mat-expansion-panel class="bg-gray-50 text-gray-900" [expanded]="true">
          <mat-expansion-panel-header class="bg-blue-200">
            <mat-panel-title>Voucher Details</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container [formGroup]="voucherDetailsForm">
            <div class="m-t-16">
              <div class="row">
                <div class="col-sm-12">
                  <app-select-field controlName="voucherAction" [options$]="optionsAction$"
                                    [allowEmpty]="false"
                                    displayProperty="description" label="Action">
                  </app-select-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-select-field controlName="voucherCarrier" [options$]="optionsCarrier$"
                                    [allowEmpty]="false"
                                    displayProperty="description" label="Carrier">
                  </app-select-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-select-field controlName="voucherCompany" [options$]="optionsCompany$"
                                    [allowEmpty]="false"
                                    displayProperty="description" label="Company">
                  </app-select-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-select-field controlName="voucherDepartment" [options$]="optionsDepartment$"
                                    displayProperty="description" label="Department">
                  </app-select-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-select-field controlName="voucherMember" [options$]="optionsMember$"
                                    displayProperty="description" label="Requested By">
                  </app-select-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-select-field controlName="voucherType" [options$]="optionsType$"
                                    [allowEmpty]="false"
                                    displayProperty="description" label="Type">
                  </app-select-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-select-field controlName="voucherDeliverTo" [options$]="optionsDeliverTo$"
                                    [allowEmpty]="false"
                                    displayProperty="description" label="Deliver To">
                  </app-select-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <app-input-field controlName="voucherWeight" label="Weight (Kgr)">
                  </app-input-field>
                </div>
                <div class="col-sm-6">
                  <app-input-field controlName="voucherQuantities" label="Quantity"
                                   type="number" step="1" min="1">
                  </app-input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-textarea-field controlName="comments" label="Comments" [rows]="4">
                  </app-textarea-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-input-field controlName="voucherReference" label="Your Reference">
                  </app-input-field>
                </div>
              </div>
            </div>
          </ng-container>
        </mat-expansion-panel>
        <mat-expansion-panel class="bg-gray-50 text-gray-900" [expanded]="true">
          <mat-expansion-panel-header class="bg-blue-200">
            <mat-panel-title>Special Details</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container [formGroup]="voucherDetailsForm">
            <div class="m-t-16">
              <div class="row">
                <div class="col-sm-12">
                  <app-select-field controlName="voucherCondition" [allowEmpty]="false"
                                    [options$]="optionConditionType$"
                                    displayProperty="description" label="Voucher Conditions">
                  </app-select-field>
                </div>
              </div>
              <div class="row" *ngIf="showCODAmountPanel">
                <div class="col-sm-12">
                  <app-input-field controlName="voucherCodAmount" label="COD Amount">
                  </app-input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-select-field controlName="voucherSaturdayDelivery" [allowEmpty]="false"
                                    [options$]="optionsYesNo$"
                                    displayProperty="description" label="Deliver Saturday">
                  </app-select-field>
                </div>
              </div>
              <div class="row" *ngIf="showDeliveryTimePanel">
                <div class="col-sm-12">
                  <app-select-field controlName="voucherDeliveryTime" [allowEmpty]="false"
                                    [options$]="optionsDeliveryTimeType$"
                                    displayProperty="description" label="Delivery Time">
                  </app-select-field>
                </div>
              </div>
            </div>
          </ng-container>
        </mat-expansion-panel>
      </div>
    </form>
