@use 'sass:color';
@use 'sass:map';
@use '@angular/material'as mat;

// Example for custom theming
@mixin theme($theme) {
  $is-dark-theme: map.get($theme, is-dark);
  $background: map.get($theme, 'background');
  $foreground: map.get($theme, 'foreground');

  $row-hover-bg: mat.get-color-from-palette(mat.$indigo-palette, 50);
  $row-odd-bg: mat.get-color-from-palette(mat.$gray-palette, 100);
  $row-odd-bg-300: mat.get-color-from-palette(mat.$gray-palette, 200);
  $row-odd-bg-500: mat.get-color-from-palette(mat.$gray-palette, 500);

  $row-hover-bg-dark: mat.get-color-from-palette(mat.$blue-gray-palette, 900);
  $row-odd-bg-dark: color.adjust(mat.get-color-from-palette(mat.$gray-palette, 900), $lightness: 10%);



}
