 <ng-container *ngIf="type === spinnerTypes.PROGRESS_BAR">
   <div style="height: 20px;">
     <mat-progress-bar mode="indeterminate" *ngIf="$state==='in'" [color]="color">
     </mat-progress-bar>
   </div>
 </ng-container>
 <ng-container *ngIf="type === spinnerTypes.FIXED_CIRCLE">
   <mat-progress-spinner mode="indeterminate" diameter="20" *ngIf="$state==='in'" [color]="color"
                         [diameter]="diameter" [strokeWidth]="strokeWidth">
   </mat-progress-spinner>
 </ng-container>
 <ng-container *ngIf="type === spinnerTypes.CIRCLE">
   <mtx-loader [loading]="$state==='in'" [type]="typeLoader" [color]="color" [hasBackdrop]="true">
   </mtx-loader>
 </ng-container>
